[submodule "Cmake/CMakeTutorial_CodeTech/EP3_GitSubmodules/external/glfw"]
	path = Cmake/CMakeTutorial_CodeTech/EP3_GitSubmodules/external/glfw
	url = https://github.com/glfw/glfw.git

[submodule "Cmake/CMakeTutorial_CodeTech/EP8_FindLibrary/external/glfw"]
	path = Cmake/CMakeTutorial_CodeTech/EP8_FindLibrary/external/glfw
	url = https://github.com/glfw/glfw.git

[submodule "Cmake/CMakeTutorial_CodeTech/EP9_FindPackage/external/glfw"]
	path = Cmake/CMakeTutorial_CodeTech/EP9_FindPackage/external/glfw
	url = https://github.com/glfw/glfw.git

[submodule "Cmake/CMakeTutorial_SelfDefined/CodeCoverage/external/cmake-modules"]
	path = Cmake/CMakeTutorial_SelfDefined/CodeCoverage/external/cmake-modules
	url = https://github.com/bilke/cmake-modules.git

[submodule "FreeRTOS/external/FreeRTOS"]
	path = FreeRTOS/external/FreeRTOS
	url = https://github.com/FreeRTOS/FreeRTOS.git

[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest

[submodule "external/dlt-daemon"]
	path = external/dlt-daemon
	url = https://github.com/COVESA/dlt-daemon.git
